@model pharmacy.Models.store
@{
    ViewBag.Title = "edit";
}

<h2>edit</h2>
<form id="newform" action="/home/editdone/@Model.Id" method="post">
    <input type="hidden" name="i" value="@Model.Id">
    Name:<input type="text" name="nm" value="@Model.Name"><br />
    price:<input type="text" name="p" value="@Model.price"><br />
    category:<select name="c">
        <option value="@Model.category">syrup</option>
        <option value="@Model.category">injection</option>
        <option value="@Model.category">tablet</option>
    </select><br />
    ExpiryDate:<input type="text" name="d" value="@Model.expiryDate"><br />
    <input type="submit" value="submit changes"/>
   
</form>

